@tailwind base;
@tailwind components;
@tailwind utilities;

 

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  /* width: 700; */
  /* place-items: center; */
  /* min-width: 320px; */
}
 

 